---
import Layout from '../layouts/common.astro'
---
<Layout title="Welcome to Samsung TAH4205">
	<p class="mt-2 text-2xl font-extrabold text-gray-900 tracking-tight pb-4">
		Samsung TAH4205 wireless 
	</p>
	<img src="https://cdn.istyle.im/images/product/web/70/58/97/00/0/000000975870_01_800.jpg" alt="Tah 4205 Headphones" width="550" class="mt-15 mx-auto text-center max-w-3xl px-7">

	<div class="mt-12 grid gap-8 grid-cols-1 md:grid-cols-2">
		<div class="bg-gray-50 rounded-lg px-6 pb-8">
			<h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight">Listen that bass</h3>
			<p class="mt-5 text-gray-500">
				Rock your sounds with bigger bass. These wireless on-ear headphones boast a BASS boost button, so you can pump it up whenever you like. You get up to 29 hours of play time, quick charging and stylish matte colours to choose from.
			</p>
		</div>

		<div class="bg-gray-50 rounded-lg px-6 pb-8">
			<h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight">29 hours of usb charging</h3>
			<p class="mt-5 text-gray-500">
				You get up to 29 hours of play time from a 2 hour charge via USB-C. If you start running low on power, a quick 15 minute charge will keep the music playing for another 4 hours.
			</p>
		</div>
		<div class="bg-gray-50 rounded-lg px-6 pb-8">
			<h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight">Automatic Bluetooth</h3>
			<p class="mt-5 text-gray-500">
				One long press of the multi-function button gets these wireless Bluetooth headphones ready to pair. Once they're paired, the headphones remember the last device they were paired with.
			</p>
		</div>
		<div class="bg-gray-50 rounded-lg px-6 pb-8">
			<h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight">Compact</h3>
			<p class="mt-5 text-gray-500">
				Real compact foldable, which is excellent for travel and lets you take your music anywhere.
			</p>
		</div>			
	</div>
	</Layout>